@media screen and (min-width: 900px) {
  .body, .header, .main, .footer, .featured_works {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
 
  .logo_container2 { 
    padding-top: 0px;
  }

  .logo { 
   padding-top: 20px;
  }

  .logomain{
    width: 150%;
  }


    .name { 
    width: 100%;
    text-align: right; 
    font-size: 13px;
  }
  .featured_works { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
  
  .first_work {
    width: 30%;
    order: 0;
    margin: 5px;  
    min-height: 350px;
  }
  
  .second_work {
    width: 30%;
    order: 1;
    margin: 5px;  
  }
  
  .third_work {
    width: 30%;
    order: 2;
    margin: 5px;  
    min-height: 350px;
  }

  .foot{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center
  }
  .feature{
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 900px) {
    .logo_container2 { 
        padding-top: 0px;
    }
    .logomain{
        width: 120%;
    }
    .logo { 
         padding-top: 20px;
    }
    .name { 
        width: 100%;
        text-align: right; 
        font-size: 12px
    }
    .first_work {
        min-height: 500px;
    }
    .third_work {
        min-height: 500px;
    }
}